{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's collect some cars!</h2>
            <h5>Build API tools for car collections</h5>
            <div>
                <button class="btn btn-primary">View our Docs</button>
                <button class="btn btn-primary">Join our Discord</button>
            </div>
        </div>
            <!-- Header Image -->
            <div class="col-12 col-md-6">
                <img src="../../static/images/car_3.png" alt="Hero Header" class="header-image">
            </div>
        

    </header>
    <!-- End of header section -->

    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Automobile Collection!</h2>
            <p>APIS can be used to add cars to your collection.</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="api-image" id="api-image">
            <h4>Dedicated API Routes</h4>
            <p>If you are a fan of using traditional API routes, we have those for you!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql-image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>If you want ALL data from one endpoint, we have that too!</p>
        </div>
        
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database-image" id="database-image">
            <h4>Backed by PostgreSQL Database</h4>
            <p>All data will be persisted inside of a secure Postgres Database</p>
        </div>
    </section>
    <!-- End of Collection Features -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/car_2.png" alt="Drone Image" id="Car-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with other car collectors</h4>
            <p>Talk with other devs around the world and collab on projects with your data. Join our discord channel and give a start to the project on github</p>
        
            <div>
            <button class="btn btn-primary">View on Github</button>
            <button class="btn btn-primary">Join our Discord</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/car_logo.png" alt="Coding Cars Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread the Words</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread the Words</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread the Words</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread the Words</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Cars?</p>
                <p>The Coding Cars Project</p>
                <p>Donate</p>
                <p>Spread the Words</p>
                <p>Our Process</p>
            </div>
        </div>

    </footer>
</div>
{% endblock content %}