{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'auth-success' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss = "alert" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %} 
</div>

<header class="hero-section">
    <h3 class="header-text">Welcome to Coding Cars! {{ current_user.email }}</h3>
</header>

<div class="container">
    <h3>Her are your profile details!</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }} </li>

        <!-- TODO: Add Access Key, plug in user email from database -->
    </ul>
</div>

{% endblock content %}