{% extends 'base.html' %}

{% block content %}

<!-- Flask Flashed Messages to User -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                <div class="container">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss = "alert" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %} 
</div>

<h1>Log In Here</h1>
<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Sign In to Your Account</h2>
            {% include 'forms.html' %}
        </aside>
    </div>
</main>
    
    

{% endblock content %}